[Desktop Entry]
Version=1.1
Type=Application
Name=Hugin Calibrate Lens
GenericName=Lens Calibrator
NoDisplay=true
Comment=Characterise lens distortion
Icon=hugin
Exec=calibrate_lens_gui
Actions=
Categories=Graphics;
