[Desktop Entry]
Version=1.1
Type=Application
Name=Python (v3.8)
Comment=Python Interpreter (v3.8)
Icon=python
Exec=/usr/bin/python3.8
Terminal=true
Actions=
Categories=Development;
StartupNotify=true
