html, body{
	font-size:12px;
	font-family: verdana,helvetica,sans-serif;
	padding:0;
	margin:0;
}

#container {
	width: 48em;
	margin: 0 auto;
	padding:0;
	position: relative;
}

#skiper {
	position: absolute;
	color: #aaa;
	text-decoration: none;
	display: block;
	right:0;
	top:0;
	padding: 0.5em;
	width:auto;
	z-index:1;
}

#skiper:first-letter {
	font-weight: bold;
	text-decoration: underline;
}
#skiper:focus,
#skiper:active
{
	color: black;
}	
#top {
	padding-top:3em;
	position: relative;
}

#logo {
	text-decoration: none;
	position:absolute;
	display:block;
	left:0;
	top:10px;
	border-width: 1px;
	border-color: white;
	border-style:solid;
	
}

#logo:focus, #logo:active {
	border-color: black;
	outline:none;
}

#logo img {
	border:0;
}
h1 {
	text-align:center;
	font-size: 3.5em;
	font-family: verdana, helvetica, sans-serif;
	padding:0.4em 0 0.45em 0;
	margin:0 0 0 170px;
	line-height:100%;
}

h1 span {
	display: block;
	font-size: 33%;
}

#top ul {
	position: absolute;
	right:0;
	bottom: 0;
	padding:0;
	margin:0;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #999;
}

#top li {
	display:block;
	float:left;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #999;
}

#top li a {
	display: block;
	padding: 0.1em 0;
	text-align: center;
	text-transform: uppercase;
	width: 7.5em;
	color: black;
	text-decoration: none;
	line-height: 100%;
	font-weight: bold;
	font-family: verdana,helvetica, serif;
}

#top li a:hover,
#top li a:active,
#top li a:focus
{
	background-color: #ddd;
	outline:none;
}

.auraltext {
	display:block;
	overflow:hidden;
	width:1px;
	height:1px;
	left:-2000px;
}

#demo textarea {
	width: 40em;
	display: block;
}

#demo textarea.toomany {
	background-color: red;
}

#w1 {
	font-family: courier, monospace;
}

.footer {
	margin-top: 1em;
	padding: 1em;
	text-align:center;
	border: solid #aaa;
	border-width: 1px 0 0 0;
	position:relative;
}

.fonemy {
	border-spacing:0;
	border-collapse:collapse;
	font-size:100%;
}

.fonemy th, .fonemy td {
	padding: 0.2em;
	border: solid 1px #BBB;
	vertical-align:top;
	text-align:left;
}

.fonemy tbody th {
	background-color: #DDD;
}

.lmenu {
	float:right;
	width:auto;
	height:auto;
	margin: 1em 0 1em 1em;
	padding:0.1em;
	border: solid black 1px;
	background-color: white;
}

.lmenu ul {
	margin:0;
	padding:0;
	list-style:none;
}

.lmenu li {
	margin:0;
	padding:0;
}

.lmenu a {
	display:block;
	padding:0.2em 1em 0.2em 1em;
	font-weight:bold;
	text-decoration: none;
	margin:0;
	color: black;
}

.lmenu a:hover,
.lmenu a:focus,
.lmenu a:active {
	background-color: #ddd;
	outline:none;
}

.lmenu li li a {
	padding: 0 0 0 2em;
	font-weight:normal;
}

dd ul, dd ol {
	margin: 1em 0 1em 1em;
	padding:0;
}

dd li {
	padding:0;
	margin:0 0 0 2em;
	list-style:none;
	text-indent:-2em;
}

#tresc {
	line-height:144%;
}

.uwaga {
	margin: 1em;
	padding: 1em;
	border: solid red 2px;
	font-weight:bold;
}

.uwaga h2 {
	text-align:center;
	color: red;
}

#anybrowser {
	position: absolute;
	top:0;
	right:0;
	display:block;
}

#notvalid {
	position: absolute;
	top:0;
	left:0;
	display:block;
}

#anybrowser img, #notvalid img {
	display:block;
	border:0;
}

#kontakt ul, #kontakt li {
margin:0;
padding:0;
list-style:none;
}

#kontakt label {
	display: block;
	float: left;
	width:17em;
}
#kontakt li input {
	width: 12em;
}

#kontakt textarea {
	width:100%;
}

.file {
	background-color: #F0F0F0;
	border: solid #888 1px;
	padding: 0.4em 1em;
}

ul.zrzuty {
	margin:1em 0;
	padding: 0;
	list-style:none;
}

ul.zrzuty li {
	margin: 0.5em 0;
	padding:0;
	list-style:none;
	clear:left;
}

ul.zrzuty img {
	float:left;
	margin: 0 1em 0.5em 0;
}

pre.preivo {
	border: solid black 1px;
	background-color: #eee;
	padding: 1em;
	margin: 1em 0;
	width: 100%;
	overflow: auto;
}